body{
    background:url(./imagex.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

#formulario{
    width: 200px;
    display: block;
    margin: 0 auto;
}

#letra{
    color: white;
}