
<!DOCTYPE html>
<html>
<head>
	<title>Home - Faculdade Impacta</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="static/MAIN.css">
	<link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpHeiDpdcpWuqDCjKSMhE1EKVuYL6hFFu4RaFrrXm4jpwtWBTt">
	<link href="https://fonts.googleapis.com/css?family=Noto+Serif+KR" rel="stylesheet">

</head>
<body>
	<div>
		<a href="index">
			<img src="https://www.sodexobeneficios.com.br/data/files/45/41/A5/FC/9708E510817395E5C808F9C2/logfaculdadeimpacta.png" width="150px"
			height="150px">
		</a>
		<a href="lista">
			<h1 id="borda">Lista de cursos</h1>
		</a>

		<a href="">
		<h1 id="borda">Detalhe do curso</h1>
		</a>

		<a href="">
		<h1 id="borda">Disciplina</h1>
		</a>

		<a href="login">
		<h1 id="borda">Login</h1>
		</a>
	</div>
</body>
</html>