<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="static/estilo.css">
    <link href="https://wallpapercave.com/wp/jHo76kp.jpg">
    <link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpHeiDpdcpWuqDCjKSMhE1EKVuYL6hFFu4RaFrrXm4jpwtWBTt">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif+KR" rel="stylesheet">
</head>

<body>
    <form id="formulario" method="post" >
        <fieldset id="letra">
            <legend>IMPACTA</legend>
            <label>Login: </label><br>
            <input type="text" name="Login" id="login" minlength="2" placeholder="Preencha" autofocus required><br><br>
            <label>Senha: </label><br>
            <input type="password" name="senha" id="senha" minlength="6"  maxlength="10" placeholder="minimo de 6 caracteres" required><br><br>
        </fieldset>
        <button type="submit">Submit: </button><br><br>
    </form>
</body>
</html>